body {
    margin: 0px
}

.jo-boxmsg {
    background-color: rgba(0, 0, 0, 0.207);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    opacity: 0;
    z-index: -99999;
    top: 0px;
    left: 0px;
}

.jo-boxmsg .boxmsg {
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 0px 50px 4px rgb(128, 128, 128);
    padding: 0px 20px 10px 20px;
    
}

.jo-boxmsg-t .boxmsg .boxmsg-header {
    display: flex;
    align-items: center;
    flex-direction: column
}

.jo-boxmsg-t .boxmsg .boxmsg-header .boxmsg-title {
    margin: 10px 0px;
    color: #000000;
    font-family: "Lucida Sans";
    font-size: 24px;
    font-style: normal !important;
}

.jo-boxmsg-t .boxmsg .boxmsg-header .boxmsg-title:first-letter {
    text-transform: uppercase;
}

.jo-boxmsg-t .boxmsg .boxmsg-body {
    display: flex;
    align-items: center;
    margin: 10px 0px
}

.jo-boxmsg-t .boxmsg .boxmsg-header svg {
    height: 58px;
    width: 58px;
    margin-top: 10px
}

.jo-boxmsg-t .boxmsg .boxmsg-body .boxmsg-msg {
    margin: 0px;
    font-size: 16px;
    text-align: center;
    width: 100%
}

.jo-boxmsg-t .boxmsg .boxmsg-footer {
    height: 60px;
    padding: 0px 0px;
    display: flex;
    justify-content: center
}

.jo-boxmsg-t .boxmsg .boxmsg-footer button {
    height: 36px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 130px;
    margin-top: 15px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    margin: 15px 12px 0px 12px;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-yes {
    
    border: 1px solid #1e8739;
    background: #ffffff;
    color: #1e8739;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-no {
    
    border: 1px solid #596167;
    background: #ffffff;
    color: #596167;
}


.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-retry{

    border: 1px solid #0c69d7;
    background: #ffffff;
    color: #0c69d7;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-ignore{

    border: 1px solid #c62332;
    background: #ffffff;
    color: #c62332;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-cancel{

    border: 1px solid #c62332;
    background: #ffffff;
    color: #c62332;
}


/*-------------------------------------------*/ 


.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-yes:hover {
    
    border: 1px solid #1e8739;
    background: #1e8739;
    color: #ffffff;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-no:hover {
    
    border: 1px solid #596167;
    background: #596167;
    color: #ffffff;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-retry:hover{

    border: 1px solid #0c69d7;
    background: #0c69d7;
    color: #ffffff;
}

.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-cancel:hover{

    border: 1px solid #c62332;
    background: #c62332;
    color: #ffffff;
}
.jo-boxmsg-t .boxmsg .boxmsg-footer .boxmsg-ignore:hover{

    border: 1px solid #c62332;
    background: #c62332;
    color: #ffffff;
}

.line-separateur {
    background-color: #c7c7c7;
    height: 1px;
}

/* ------------------Box Shooooow------------------------ */

.jo-boxmsg-show {
    -webkit-animation-name: jomsg-show;
    /*  Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s;
    /* Safari 4.0 - 8.0 */
    animation-name: jomsg-show;
    animation-duration: 0.1s;
    opacity: 1;
    width: 100%;
    z-index: 99999;
}

@-webkit-keyframes jomsg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        width: 100%
    }
}

@keyframes jomsg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        width: 100%
    }
}

.jo-boxmsg-hide {
    -webkit-animation-name: jomsg-hide;
    /*  Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.2s;
    /* Safari 4.0 - 8.0 */
    animation-name: jomsg-hide;
    animation-duration: 1.2s;
    opacity: 0;
    z-index: -99999;
    /* width: 0px */
}

@-webkit-keyframes jomsg-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        /* width: 0px */
    }
}

@keyframes jomsg-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        /* width: 0px */
    }
}

.vivify {
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-duration: .5s;
    animation-fill-mode: both
}

.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.popIn {
    -webkit-animation-name: popIn;
    animation-name: popIn
}

@keyframes popIn {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -webkit-transform: scale3d(1.08, 1.08, 1.08);
        transform: scale3d(1.08, 1.08, 1.08)
    }
    60% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    80% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.popOut {
    -webkit-animation-name: popOut;
    animation-name: popOut;
}

@keyframes popOut {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    60% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scale3d(1.08, 1.08, 1.08);
        transform: scale3d(1.08, 1.08, 1.08)
    }
    80% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    }
    100% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }
}


.swoopOutLeft {
    -webkit-animation-name: swoopOutLeft;
    animation-name: swoopOutLeft;
}

@keyframes swoopOutLeft {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scaleX(1) translate3d(0, 0, 0);
        transform: scaleX(1) translate3d(0, 0, 0)
    }
    40% {
        opacity: 1;
        -webkit-transform: scaleX(1) translate3d(20px, 0, 0);
        transform: scaleX(1) translate3d(20px, 0, 0)
    }
    60% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scaleX(1.2) translate3d(0, 0, 0);
        transform: scaleX(1.2) translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: scaleX(1.5) translate3d(-400px, 0, 0);
        transform: scaleX(1.5) translate3d(-400px, 0, 0)
    }
}

.swoopInRight {
    -webkit-animation-name: swoopInRight;
    animation-name: swoopInRight;
}

@keyframes swoopInRight {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: scaleX(1.5) translate3d(400px, 0, 0);
        transform: scaleX(1.5) translate3d(400px, 0, 0)
    }
    40% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scaleX(1.2) translate3d(0, 0, 0);
        transform: scaleX(1.2) translate3d(0, 0, 0)
    }
    65% {
        -webkit-transform: scaleX(1) translate3d(-20px, 0, 0);
        transform: scaleX(1) translate3d(-20px, 0, 0)
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scaleX(1) translate3d(0, 0, 0);
        transform: scaleX(1) translate3d(0, 0, 0)
    }
}


.flipInX {
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

@keyframes flipInX {
    from {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg) scale3d(1.2, 1.2, 1.2);
        transform: perspective(400px) rotateX(90deg) scale3d(1.2, 1.2, 1.2)
    }
    50% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: perspective(400px) rotateX(-20deg) scale3d(1, 1, 1);
        transform: perspective(400px) rotateX(-20deg) scale3d(1, 1, 1)
    }
    to {
        -webkit-transform: perspective(400px) rotateX(0deg) scale3d(1, 1, 1);
        transform: perspective(400px) rotateX(0deg) scale3d(1, 1, 1)
    }
}
.flipOutX {
    -webkit-animation-name: flipOutX;
    animation-name: flipOutX
}

@keyframes flipOutX {
    from {
        -webkit-transform: perspective(400px) rotateX(0deg) scale3d(1, 1, 1);
        transform: perspective(400px) rotateX(0deg) scale3d(1, 1, 1)
    }
    60% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: perspective(400px) rotateX(-30deg) scale3d(1, 1, 1);
        transform: perspective(400px) rotateX(-30deg) scale3d(1, 1, 1)
    }
    to {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg) scale3d(1.2, 1.2, 1.2);
        transform: perspective(400px) rotateX(90deg) scale3d(1.2, 1.2, 1.2)
    }
}


.fold {
    -webkit-animation-name: fold;
    animation-name: fold
}

@keyframes fold {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: scale3d(1, 0.4, 1);
        transform: scale3d(1, 0.4, 1)
    }
    60% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1)
    }
    100% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -webkit-transform: scale3d(0.2, 0.2, 0.2);
        transform: scale3d(0.2, 0.2, 0.2)
    }
}

.unfold {
    -webkit-animation-name: unfold;
    animation-name: unfold
}

@keyframes unfold {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0)
    }
    30% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1)
    }
    60% {
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transform: scale3d(0.4, 1, 1);
        transform: scale3d(0.4, 1, 1)
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}



.spinIn {
    -webkit-animation-name: spinIn;
    animation-name: spinIn;
}

@keyframes spinIn {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transform: rotateZ(0deg) scale3d(0, 0, 0);
        transform: rotateZ(0deg) scale3d(0, 0, 0);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
    50% {
        opacity: 1
    }
    70% {
        -webkit-transform: rotateZ(380deg) scale3d(1, 1, 1);
        transform: rotateZ(380deg) scale3d(1, 1, 1);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
    100% {
        -webkit-transform: rotateZ(360deg) scale3d(1, 1, 1);
        transform: rotateZ(360deg) scale3d(1, 1, 1);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
}

.spinOut {
    -webkit-animation-name: spinOut;
    animation-name: spinOut;
}

@keyframes spinOut {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transform: rotateZ(0deg) scale3d(1, 1, 1);
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
    20% {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transform: rotateZ(-20deg) scale3d(1, 1, 1);
        transform: rotateZ(-20deg) scale3d(1, 1, 1);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
    30% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -webkit-transform: rotateZ(360deg) scale3d(0, 0, 0);
        transform: rotateZ(360deg) scale3d(0, 0, 0);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }
}

/* -------------------------------------------------------- */



.jo-boxmsg-s .boxmsg .boxmsg-header {
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.jo-boxmsg-s .boxmsg .boxmsg-header .boxmsg-title{
    text-transform: unset
}

.jo-boxmsg-s .boxmsg .boxmsg-header .boxmsg-title:first-letter {
    text-transform: uppercase;
}


.jo-boxmsg-s .boxmsg .boxmsg-body {
    display: flex;
    align-items: center;
    margin: 10px 0px
}

.jo-boxmsg-s .boxmsg .boxmsg-body svg{
    height: 58px;
    width: 58px;
    margin-right: 22px;

}

.jo-boxmsg-s .boxmsg .boxmsg-body .boxmsg-msg{   
    
    font-size: 16px;
    width: 419px;
    text-align: justify
}



.jo-boxmsg-s .boxmsg .boxmsg-footer {
    height: 60px;
    padding: 0px 0px;
    display: flex;
    justify-content: flex-end
}


.jo-boxmsg-s .boxmsg .boxmsg-footer button {
    height: 34px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 130px;
    margin-top: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    margin: 20px 8px
}


.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-yes {

    background-color: #1e8739;
    color: white;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-no {
    
    background: #596167;
    color: white;
}


.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-retry{

    background: #0c69d7;
    color: white;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-ignore{

    background: #c62332;
    color: white;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-cancel{

    background: #c62332;
    color: white;
}


/*-------------------------------------------*/ 


.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-yes:hover {

    background-color: #339e4e;
    color: white;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-no:hover {
    
    background: #7a838a;
    color: white;;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-retry:hover{
    background: #3c83da;
    color: white;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-cancel:hover{
    background: #d35763;
    color: white;
}

.jo-boxmsg-s .boxmsg .boxmsg-footer .boxmsg-ignore:hover{
    background: #d35763;
    color: white;
}

/* ---------------------------------------------------------------------------------- */


.jo-boxmsg-f .boxmsg .boxmsg-header {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jo-boxmsg-f .boxmsg .boxmsg-header svg {
    height: 100px;
    width: 100px;
}

.jo-boxmsg-f .boxmsg .boxmsg-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jo-boxmsg-f .boxmsg .boxmsg-body .boxmsg-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0px
}
.jo-boxmsg-f .boxmsg .boxmsg-body .boxmsg-title:first-letter {
    text-transform: capitalize
}

.jo-boxmsg-f .boxmsg .boxmsg-body .boxmsg-msg {
    color: black;
    text-align: center;
    font-size: 15px
}

.jo-boxmsg-f .boxmsg .boxmsg-footer {
    height: 60px;
    
    padding: 0px 0px;
    display: flex;
    justify-content: center
}


.jo-boxmsg-f .boxmsg .boxmsg-footer button {
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 120px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 15px 8px 0px 8px
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-yes {

    background-color: #1e8739;
    color: white;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-no {
    
    background: #596167;
    color: white;
}


.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-retry{

    background: #0c69d7;
    color: white;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-ignore{

    background: #c62332;
    color: white;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-cancel{

    background: #c62332;
    color: white;
}


/*-------------------------------------------*/ 


.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-yes:hover {

    background-color: #339e4e;
    color: white;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-no:hover {
    
    background: #7a838a;
    color: white;;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-retry:hover{
    background: #3c83da;
    color: white;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-cancel:hover{
    background: #d35763;
    color: white;
}

.jo-boxmsg-f .boxmsg .boxmsg-footer .boxmsg-ignore:hover{
    background: #d35763;
    color: white;
}


